<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}/logs/internallog.txt"
      internalLogLevel="Trace"
      >

  <targets>
    <target 
      name="asyncWrapper" 
      xsi:type="AsyncWrapper">
      <target
        name="logfile"
        xsi:type="File"
        fileName="${basedir}/logs/logfile.txt"
        layout="${date:format=HH\:mm\:ss} ${logger} ${uppercase:${level}} ${message}" />
      </target>
    <target
      name="logconsole"
      xsi:type="Console"
      header="Logfile for run ${longdate)"
      layout="${date:format=HH\:mm\:ss} ${logger} ${uppercase:${level}} ${message}" />
    <target
      name="logcolorconsole"
      xsi:type="ColoredConsole"
      header="Logfile for run ${longdate)"
      footer="-----------"
      layout="${date:format=HH\:mm\:ss} ${logger} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <logger name="*"
            minlevel="Trace"            
            writeTo="logfile" />
    <logger name="Program"
            minLevel="Warn"
            writeTo="logcolorconsole" />
    <logger name="OtherLogger"
            minLevel="Info"
            writeTo="logconsole" />
  </rules>
</nlog>